.transactions-page {

    .transaction-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.3s ease;
        width: 100%;
        height: 80px;
        gap: 10px;
        border: 1px solid var(--primary-color);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        background: var(--secondary-linear-background);
        color: var(--secondary-color);
    
        &:hover {
            transform: scale(1.005);
        }
    }
    
    .filters-row-transaction-managment {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        transition: all 1 ease;
    }
    
    .description-text {
        display: flex;
        white-space: nowrap;
        overflow: scroll;
        text-overflow: ellipsis;
        width: 100%;
    }
    
    .select-category {
        padding: 0.5em;
        border-radius: 7px;
        width: 46%;
        min-width: 100px;
        transition: all 0.3s ease;
        border: 1px solid var(--primary-color);
        background: transparent;
        color: var(--secondary-color);
        &:focus {
            border: 1px solid var(--primary-color);
        }
    }
    
    .filter-select {
        padding: 0.5em;
        border-radius: 7px;
        width: 100%;
        min-width: 120px;
        transition: all 0.3s ease;
        border: 1px solid var(--primary-color);
        background: var(--secondary-color);
        color: var(--primary-color);
        &:focus, &:active {
            border: 1px solid var(--primary-color);
        }
    }

    .MuiFormControl-root {
        border-radius: 10px !important;
    }
    
    .loading {
        color: white
    }
    
    .label {
        color: var(--secondary-color);
    }

}



