.add-budget-modal {
    background: var(--modal-gradient-background);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    width: 70%;
    min-width: 386px;
    max-width: 800px;
    height: 60%;
    min-height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h3 {
        margin-left: 10px;
        font-size: larger;
        font-weight: 700;
    }
    
    .final-buttons {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 95%;
        
        button {
            transition: all 0.3s ease;

            &:hover {
                cursor: pointer;
                scale: 1.03 !important;
            }
        }

        .cancel {
            border: none;
            background-color: rgb(165, 165, 165);
            border-radius: var(--border-radius);
            width: 100px;
            height: 40px;
            font-size: large;
            box-shadow: var(--box-shadow);
        }
    
        .create {
            background-color: var(--linear-background);
            box-shadow: var(--box-shadow);
            border: none;
            border-radius: var(--border-radius);
            width: 200px;
            height: 40px;
            font-size: large;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 95%;
        gap: 10px;
    }

    .section {
        background: var(--secondary-linear-background);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        width: 100%;
        flex: 1;
    }

    .section-title {
        margin: 10px 10px;
        font-size: 15px;
    }

    input {
        width: auto;
        height: 20px;
        border: none;
        border-radius: 20px;
        margin: 10px 10px;
        padding: 10px;
        font-size: large;
        background: var(--secondary-linear-background);
        color: var(--secondary-color);
        border: 1px solid rgba(white, 0.5);
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 1;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        width: auto;
        padding: 10px;
    }

    .category {
        flex: 1 1 120px;
        max-width: 150px;
        height: 70px;
        background: var(--secondary-linear-background);
        border: none;
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: var(--border-radius);
        transition: all 0.3s ease;
        cursor: pointer;

        p {
            margin: 0;
        }
    }

    .category-selected {
        background: var(--primary-color);
        scale: 1.05;
        box-shadow: var(--box-shadow);
    }

    .MuiCircularProgress-root {
        height: 24px !important;
        width: 24px !important;
    }
}