.add-category-icon {
    color: #2c5364;
    height: 40px;
    margin-left: 10px;
    transition: all 0.3s;

    &:hover {
        color: #234461;
        scale: 1.1;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    max-height: 100%;
    gap: 8px;
    overflow-y: scroll;
}

.category {
    display: flex;
    align-items: center;
    border: 1px solid #e9e3e3;
    border-radius: 8px;
    height: 27px;
    padding: 5px;


    p {
        margin: 0 10px 0 0;
    }
}

.remove-category-icon {
    margin-right: 0px;
    margin-left: auto;
    color: rgb(230, 35, 35);
    border-radius: 50%;
    cursor: pointer;
}

.recommended-categories {
    gap: 5px;
    display: flex;
    margin-bottom: 20px;
}

.recommended-category-button {
    border: 1px solid var(--primary-color);
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 8px;
}