.budgets-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    > * {
        min-width: 350px;
    }

    .budgets-container {
        display: flex;
        background: var(--secondary-linear-background);
        min-height: 50px;
        height: auto;
        margin: 10px 10px;
        border-radius: var(--border-radius);
    }


    .add-budget-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 100;
        max-width: 350px;
        min-width: 350px;
        height: 40px;
        border-radius: 19px;
        border: none;
        box-shadow: var(--box-shadow);
        color: white;
        font-weight: 800;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            scale: 1.1 !important;
        }
        
        &:focus {
            outline: none;
        }
    }
}