.container {
    width: 100%;
    display: flex;
}

.section-header {
    color: black;
}

.page-title {
    color: var(--secondary-color) !important;
    font-size: 22px;
}

.account-row {
    box-shadow: var(--box-shadow);
    background: var(--secondary-linear-background);
    width: 100%;
    height: 70px;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 28% 15% 20% 32% 5%;
    align-items: center;
    transition: all 0.3s ease;
    color: var(--secondary-color);
    overflow: hidden; /* Hide overflow for the entire row */

    &:hover {
        transform: scale(1.005);
    }

    & > * {
        padding-left: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    input {
        padding: 0.5em;
        border-radius: 7px;
        width: 40%;
        height: 46%;
        font-weight: 700;
        border: 1px solid var(--secondary-color) !important;
        background: transparent !important;
        color: var(--secondary-color) !important;
    }
    
    .account-name-input {
        width: 46%;
        min-width: 100px;
        transition: all 0.3s ease;
        border: 1px solid var(--primary-color);
        &:focus {
            border: 1px solid var(--primary-color);
        }
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 5%;
}

.add-button-accounts {
    cursor: pointer;
    border: none;
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    transition: all 0.3s ease;
    &:hover {
        scale: 1.1;
    }
}

select {
    padding: 0.5em;
    border-radius: 7px;
    border: 1px solid #9FAFCA;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
    width: 27%;
    height: 78%;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
    min-width: 182px !important;
}

