.container {
    width: 90%;
    display: flex;
}

.section-header {
    color: black;
}

.account-row {
    box-shadow: 0px 0px 12px 1px #434343;
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.005);
    }
}

.add-button-accounts {
    width: 30px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: white;
    color: #2c5364;
    border-radius: 16%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-align: center;
        color: white;
        background-color: transparent;
        border: 1px solid white;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 5%;

}

input {
    padding: 0.5em;
    border-radius: 7px;
    border: 1px solid #9FAFCA;
    opacity: 0.5;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
    width: 40%;
    height: 46%;

}

select {
    padding: 0.5em;
    border-radius: 7px;
    border: 1px solid #9FAFCA;
    opacity: 0.5;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
    width: 27%;
    height: 78%;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
    min-width: 182px !important;
}

.account-name-input {
    width: 20%;
    min-width: 100px;
}