.pages {
    display: flex;
    width: 100%;
}

h2 {
    margin: 5px;
}

.account {
    flex: end;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 1rem;
}

.nav-items {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar .nav-item {
    transition: all 0.3s ease; 
    color: hsl(180, 10%, 94%); 
}

.navbar .nav-item:hover {
    color: rgb(255, 255, 255); 
    transform: scale(1.2); 
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.navbar .account-icon {
    font-size: 1.5rem; 
    color: hsl(180, 10%, 94%); 
    cursor: pointer;
    transition: all 0.3s ease; 
}

.navbar .account-icon:hover {
    color: rgb(255, 255, 255); 
    transform: scale(1.2); 
}
