.net-value {
    color: var(--primary-color);
    font-size: 24px;
}

.demo {
    padding:50px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;

    .section-title {
        color: var(--primary-color);
        margin: 0;
        font-size: 18px;
    }

    .row {
        width: 95%;
    }

    .swiper-row {
        width: 95%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 1em;
        overflow-x: scroll;
        scrollbar-color: white;
        padding: 10px;
        
        &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
        }
    }

    .card-net-change {
        display: flex;
        gap: 3px;
    }

    .green-arrow-up {
        transform: rotate(270deg);
        color: green;
        margin-left: 5px;
    }

    .red-arrow-down {
        transform: rotate(90deg);
        color: red;
        margin-left: 5px;
    }
}

.graph-container {
    width: 65%;
    border-radius: var(--border-radius);
    color: var(--primary-color);
    &:hover {
        cursor: pointer;
    }
}

.pie-container {
    width: 25%;
    border: 1px solid white;
    color: var(--primary-color);
    overflow: visible;
    padding-right: 70px;
    .recharts-surface {
        overflow: visible !important;
    }
}

.pie-label {
    .recharts-text {
        fill: var(--primary-color);
    }
}

.filters {
    display: flex;
    gap: 1rem;
}

.category-card {
    flex-shrink: 0;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: all 0.3s ease;
    width: 160px;
    height: 120px;
    background: var(--secondary-color);
    color: var(--primary-color);
    overflow: hidden;
    gap: 10px;

    &:hover {
        transform: scale(1.04);
    }
}

.card-name {
    display: flex;
    align-self: start;
    margin-left: 10px;
    margin-top: 10px;
    text-align: start;
}

.card-amount {
    display: flex;
    align-self: start;
    margin-left: 10px;
    font-size: 14px;
    align-items: center;
}

.card-amount p {
    margin: 0;
}

.card-more-dots {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: auto;
}

// ToolTip ---------------------------------------

.box {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    min-width: 150px;
    min-height: 100px;
}

.content {
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3px;

    p {
        margin: 0;
        padding: 0;
    }
}
