.demo {
    padding:50px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.dashboard-container {
    justify-content: center;
    width: 100%;
}

.filters {
    display: flex;
    gap: 1rem;
}

.date-scale-options {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.scale-option {
    border-radius: 2px;
    padding: 4px;
}



.css-15f6tv6-MuiResponsiveChart-container {
    scale: 1;
}

.MuiChartsSurface-root{
    padding: 5px;
    color: white;
}

.MuiChartsAxis-tickLabel {
    color: white;
    fill: white;
}
