
.stripe-payments-popup-container {
    width: 55%;
    max-width: 725px;
    min-width: 400px;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    .Label {
        font-size: 1.5rem;
        color: white;
    }
}

.info-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
        margin: 0;
        padding-left: 20px;
        color: white;
    }

    h1 {
        color: white;
        padding-left: 20px;
    }

    h2 {
        color: white;
        padding-left: 20px;
    }
}

.payment-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.pay-button {
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px 5px 10px
}