.loginForm {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.loginForm h2 {
    margin-bottom: 5px;
}

.loginForm input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

.loginForm button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

// .loginForm button:hover {
//     background-color: #0056b3;
// }
