.section-title {
    margin-bottom : 10px;
}

.onboarding-footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.onboarding-header {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.swiper-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    width : 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 40px;
}

.form-container input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
    color: black
}

.swiper-button {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: none;
    background: none;
}

.alert-text {
    color: red;
    font-size: 12px;
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: -5px;
}