.onboarding {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section-title {
    margin-bottom : 10px;
    font-size: 30px;
    color: var(--secondary-color);
}

.section-subtitle {
    margin-bottom : 20px;
    font-size: 13px;
    color: var(--secondary-color);
    margin-top: 5px;
}

.onboarding-footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.onboarding-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--secondary-color);

    .has-account-button {
        margin-right: 20px;
        transition: all 0.3s ease-in-out;
        font-size: 12px;
        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }
}

.swiper-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.swiper-slide {
    width : 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
    background-color: var(--secondary-color);
}

.form-container input, .form-container input:focus, .form-container input:active {
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    width: 90%;
    color: #2c5364;
}

.swiper-button {
    border-radius: var(--border-radius);
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    padding: 10px;
    font-weight: 600;
    font-size: large;
    transition: all 0.3s;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}

.swiper-button-save {
    border-radius: var(--border-radius);
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: var(--box-shadow);
    padding: 10px;
    font-weight: 600;
    font-size: large;
    transition: all 0.3s;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}
    

.alert-text {
    color: red;
    font-size: 12px;
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: -5px;
}
