:root {
  font-family: 'Poppins';
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.archivo-font {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.archivo-font-bold {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 200;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #a7a7a7;
  text-decoration: inherit;
}
a:hover {
  color: #aeaeae;
}

html {
  height: 100%;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

input {
  background-color: white;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 25px;
  border: 1px solid #2c5364;
  background: #2c5364;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgb(205 205 205);
}

button:hover {
  border-color: #9d9d9d;
  color: white;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}


.container-transparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  opacity: .8;
  color: black;
  padding: 5px;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  border: 1px solid #9FAFCA;
  opacity: .8;
  background: #FFF;
  color: black;
  padding: 5px;
  box-shadow: inset 0px 0px 12px 1px #2c5364;
  width: 90%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.swiper-row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  width: 95%;
  overflow-x: scroll;
  scrollbar-color: white;
  padding: 10px;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

.hide-scroll {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

.inner-row {
  box-shadow: inset 0px 0px 12px 1px #2c5364;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1% 5% 1% 5%;
  gap: 5%;
  transition: all 0.3s ease;
  width: 88%;
  background: #FFF;
  overflow: hidden;
  &:hover {
      transform: scale(1.005);
  }
}

.inner-row-transparent {
  box-shadow: inset 0px 0px 12px 1px #2c5364;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1% 5% 1% 5%;
  gap: 5%;
  transition: all 0.3s ease;
  width: 88%;
  overflow: hidden;
  &:hover {
      transform: scale(1.005);
  }
}

.footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
}

.unselected {
  opacity: .7;
}

.centerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.5s ease;
  transition: width 0.5s ease;
}

.trash-icon {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.special-button {
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border: 1px solid rgb(104, 133, 183, .5);
  color: white;

  &:hover {
      transform: scale(1.2);
      text-shadow: 0 0 5px rgb(255, 255, 255);
  }
}

.confirm-button {
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(79, 168, 79);
  border: 1px solid rgb(79, 168, 79);
  color: white;

  &:hover {
      transform: scale(1.02);
      text-shadow: 0 0 5px rgb(255, 255, 255);
  }
}

.cancel-button {
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(172 172 172);
  border: 1px solid rgb(172 172 172);
  color: white;

  &:hover {
      transform: scale(1.02);
      text-shadow: 0 0 5px rgb(255, 255, 255);
  }
}

.special-title {
  font-size: 2em;
  color: #ffffff;
}


/* MUI */

.MuiDatePicker-root {
  color: white;
  border: 1px solid white;
  opacity: 0.8;
  background-color: #2c5364;
}

.MuiInputLabel-root {
  color: #203a43;
}

.MuiInputBase-root {
  background-color: white;
}

.MuiSvgIcon-root {
  color: #203a43;
}

.MuiOutlinedInput-input {
  color: #203a43;
}

.MuiOutlinedInput-input {
  color: 
  #203a43;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #203a43;
}



