.options-row {
    justify-content: space-evenly;
    display: flex;
}

.options-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    color: black;
}

.icon {
    transition: all 0.3s ease;
    color: var(--primary-color);
    min-width: 24px;
    min-height: 24px;

    &:hover {
        cursor: pointer;
        scale: 1.1;
    }
}